body{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #777;  
    background-color: #777;
    width: 960px;
    margin: 0 auto;
}

header{
    padding: 40px;
    margin: 10px auto;
    background-color:#ebebeb;
}

nav{
    padding: 20px;
    margin: 10px auto;
    background-color:#ebebeb;
}

section{
    position: relative;
    height: 400px;
    padding-top: 40px;
    margin: 10px 10px 10px 0px;
    float: left;
    overflow: auto;
    width:495px;
    background-color:#ebebeb;
}

article{
    background-color:#777;
    margin:40px 10px 10px;
    padding: 10px 10px 10px;
    color: #ebebeb;
}

h1{
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    background-color:#ebebeb; 
    color: #777;
   
}

p{  
    padding: 20px;
    margin: 10px;
    color: #777;
    background-color:#ebebeb;
}

aside{
    margin:10px 0 10px 10px;
    position: relative;
    padding-top: 40px;
    overflow: auto;
    display: inline-block;
    width:443px;
    height: 400px;
    background-color:#ebebeb;
    float: left;
}

footer{
    
    background-color:#ebebeb;
    padding: 40px;
    margin:10px auto;
    clear: both;
}

/* Week 1 Homework Amelia Outland-->